@{
    var userName = Context.User.Claims.FirstOrDefault(x=>x.Type == "username")?.Value;
    var userLink = "/Account";
    var userImg = "user.jpg";
if (userName == null)
    {
        userName = "Anonymous";
        userLink = "/Account/Anonymous";
        userImg = "Anonim.jpg";
    }
    else
    {
        userName = userName.Split('@')[0];
    }

    var privderOpenIdConnect = "OpenIdConnect";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudLabs</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@

    <!-- jQuery -->
    <script src="~/lib/jquery.js"></script>
    <!-- Bootstrap4 -->
    <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.min.css">
    <script src="~/lib/bootstrap4/js/bootstrap.min.js"></script>


    <!-- FontAwesome  -->
    <link href="~/lib/fontawesome-free-5.8.1/css/all.min.css" rel="stylesheet">
    <!-- DataTable -->
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables-Test/datatables.min.css" />

    <script type="text/javascript" src="~/lib/DataTables-Test/datatables.min.js"></script>


    <!-- Select2 -->
    <link href="~/lib/select2-4.0.5/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2-4.0.5/dist/js/select2.min.js"></script>

    <!-- CSS SITE -->
    <link rel="stylesheet" href="~/css/_Layout.css" />

    <!-- Spinner -->
    <link rel="stylesheet" href="~/node_modules/spin.js/spin.css" />
    <script src="~/node_modules/spin.js/spin.js"></script>
</head>
<body>
    <!--NEW  -->
    <input type="checkbox" id="nav-toggle" hidden>

    <nav class="navigation hover-menu">

        <div class="container">
            <div class="menu-header">
                @*<a href="#" class="col-12 name-company">
                        <img src="~/images/testImage.png">
                        <span class="name-section">Name Company</span>
                    </a>*@
                <a href="@userLink" class="col-12 name-user">
                    <img src="~/images/@userImg">
                    <span class="name-section">@userName</span>
                </a>


            </div>
            <div class="navigation-collapse">
                <ul id="menu">
                    <li>
                        <a href="/">
                            <i class="fas fa-home"></i>
                            <span class="name-section">На главную</span>
                        </a>
                    </li>
                    <li class="sub">
                        <a>
                            <i class="fas fa-book-open"></i>
                            <span class="name-section">Калькулятор</span>
                            <b class="carret"></b>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="/Transport">Транспортная задача</a></li>
                            <li><a href="/MultiCriteriaChoice">Многокритериальный<br /> выбор</a></li>
                            <li><a href="/MatrixOperations">Операции <br />над матрицами</a></li>
                        </ul>
                    </li>
                    <hr />
                    <li>
                        <a href="/Account">
                            <i class="fas fa-user-circle"></i>
                            <span class="name-section">Профиль</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Account/SingOut">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="name-section">Выйти</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mask-content"></div>

    </nav>
    <header class="n-navigation">
        <div class="container-fluid row justify-content-between">
            <div class="navbar-wrapper">
                <!-- <div class="nav-toggle"></div> -->
                <label for="nav-toggle" class="nav-toggle" onclick></label>
                <a href="/" id="name-site">
                    <span>StudLabs</span>
                </a>
            </div>
            @if (!Context.User.Identity.IsAuthenticated)
            {
                <div class="header-content row d-none d-md-flex ">
                    <ul class="icon">
                        @*[0] = "OpenIdConnect"*@

                        <li><a asp-controller="Account" asp-action="SingIn" asp-route-provider="@privderOpenIdConnect" class="fab fa-openid"></a></li>
                        @*<li><a href="/Account/LoginOpenId" class="fab fa-openid"></a></li>*@
                        <li><a href="#" class="fab fa-facebook-f no-openid"></a></li>
                        @*<li><a href="#" class="fab fa-twitter no-openid"></a></li>*@
                        @*<li><a href="#" class="fab fa-instagram no-openid"></a></li>*@
                        <li><a href="#" class="fab fa-vk no-openid"></a></li>
                    </ul>

                </div>
            }
        </div>


    </header>
    <!-- The Modal -->
    <div id="modal-dialog" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header row justify-content-between">
                <span>Создание записи</span>
                <span class="close-modal">&times;</span>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>

    <div id="page-layout" class="row n-navigation">
        <div id="page-body" class=" col-12">
            <div class="container-body body-content">
                <div class="container-table ">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <hr>
    <footer class="d-flex  justify-content-center">
        <p>© 2019 - StudLabs</p>
    </footer>


    <script>
        let Controller = "@ViewData["controller"]";
    </script>
    <script src="~/js/_Layout.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
