@model AuthServiceServer.Models.AboutUser

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Ваши данные</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
    @*else
        {
            <h4>Информация</h4>
            <hr />
            <dl class="dl-horizontal">
                В данный момент вы не авторизованы
                <br />
                Вы можете:
            </dl>
            <dl>
                <dt>
                    @Html.ActionLink("Авторизоваться", "Login", "Account")
                </dt>
            </dl>
            <dl>
                <dt>
                    @Html.ActionLink("Зарегестрироваться", "Registration", "Account")
                </dt>
            </dl>
        }*@

    <dl>
        <dt>
            <a href="/Account/Edit" class="btn btn-info">Редактировать</a>
        </dt>
    </dl>
</div>